<footer>
    <div id="footerFlexWrapper">
        <div id="footerSocialWrapper">
            <h2>mygrocery</h2> <i class="fas fa-shopping-cart fa-1x"></i>
        </div>
        <div id="rightDiv">
            <div><a href="/communication">Επικοινωνία</a></div>
            <div><a href="">Όροι Χρήσης</a></div>
            <div><a href="">Πολιτική Απορρήτου</a></div>
        </div>
    </div>
</footer>