<div id="mySidenav" class="sidenav">
    <a class="close"></a>
    <div id="navBarUser">
        <% if(user === " ") { %>
            <a href="/signup">Εγγραφή</a>
            <a href="/login">Σύνδεση</a> 
        <% } else { %>
            <a href="#"><%= user.userName %></a>
            <a href="" class="logout">Αποσύνδεση</a>
        <% } %>
    </div>
    <div id="navBarLinks">
        <a href="/offers">Προσφορές</a>
        <a href="/brochures">Φυλλάδια</a>
        <a href="/stores">Καταστήματα</a>
        <a href="/job-search">Εργασία</a>
        <a href="/communication">Επικοινωνία</a>
    </div>
    <div id="navBarSocial">
        <h2>mygrocery</h2> <i class="fas fa-shopping-cart fa-1x"></i>
    </div>
</div>