<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/brochures.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/sideNavBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <%- include("includes/sideNavBar.ejs") %>
    <%- include("includes/searchNavBar.ejs") %>
    <main>
        <h1>Φυλλάδια Προσφορών</h1>
        <section>
          <h2>Από 09/12/2020 έως 31/12/2020</h2>
          <div id="masoutis">
            <a href="/brochures/masoutis-brochure"><img src="/brochures/masoutisImage.jpg" alt=""></a>
          </div>
        </section>s
        <hr>
        <section>
          <h2>Από 09/12/2020 έως 31/12/2020</h2>
          <div id="masoutis1">
            <a href="/brochures/ab-brochure"><img src="/brochures/ab-image.jpg" alt=""></a>
          </div>
        </section>
       <!-- <div id="storesFlexWrapper">
        <div class="stores" id="masoutisWrapper"><a href="#" id="masoutisText">Μασούτης</a></div>
        <div class="stores" id="abWrapper"><a href="#" id="abText">Βασιλόπουλος</a></div>
        <div class="stores" id="sklavenitisWrapper"><a href="#" id="sklavenitisText">Σκλαβενίτης</a></div>
        <div class="stores" id="masoutisWrapper"><a href="#" id="masoutisText">Μασούτης</a></div>
        <div class="stores" id="abWrapper"><a href="#" id="abText">Βασιλόπουλος</a></div>
        <div class="stores" id="sklavenitisWrapper"><a href="#" id="sklavenitisText">Σκλαβενίτης</a></div>
       </div> -->
    </main>
    <%- include("includes/footer.ejs") %>
    
    <script src="/js/sideNavBar.js"></script>
</body>
</html>