<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/sideNavBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include("includes/sideNavBar.ejs") %>
        <nav>
            <div id="burgerButton">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="user">
                <% if(user === " ") { %>
                    <a href="signup">Εγγραφή</a>
                    <a href="login">Σύνδεση</a> 
                <% } else { %>
                    <a href="#"><%= user.userName %></a>
                    <a href="" class="logout">Αποσύνδεση</a>
                <% } %>
                
            </div>
        </nav>
        <h1>Σύγκρινε τιμές σε περισσότερα απο 20000 προιόντα supermarket</h1>
        <div id="nameFlexContainer">
            <h2>mygrocery</h2> 
            <i style="color: black;" class="fas fa-shopping-cart fa-2x"></i>
        </div>
        <form action="/search">
            <input type="search" placeholder="Αναζήτησε στο mygrocery" name="query">
        </form>
    </header>
    <div id="discount">
        <a href="/offers">Δές 5000 προσφορές για σήμερα</a>
    </div>
    <main>   
        <section>
            <h3>Κατηγορίες προιόντων</h3>
            <div id="category-container">
                
                <div class="categories" id="freskoKreasPsari">
                    <h2><a href="/fresko-kreas-kai-psari">Φρεσκο Κρεας Ψαρι</a></h2>
                    <!-- <img src="../images/τροφημα/φρεσκο_κρεας_ψαρι.jpg" alt="Φρεσκο Κρεας Ψαρι"> -->
                </div>
                <div class="categories" id="opwropwleio">
                    <h2><a href="/opwropwleio">Οπωροπωλείο</a></h2>
                    <!-- <img src="../images/τροφημα/φρεσκο_κρεας_ψαρι.jpg" alt="Φρεσκο Κρεας Ψαρι"> -->
                </div>
                <div class="categories" id="galaktokomikaEidhPsugeiou">
                    <h2><a href="/galaktokomika-kai-eidh-psugeiou">Γαλακτοκομικά Είδη Ψυγείου</a></h2>
                    <!-- <img src="../images/τροφημα/φρεσκο_κρεας_ψαρι.jpg" alt="Φρεσκο Κρεας Ψαρι"> -->
                </div>
                <div class="categories" id="turiaAllantikaDelicatessen">
                    <h2><a href="/turia-allantika-delicatessen">Τυριά Αλλαντικά Delicatessen</a></h2>
                    <!-- <img src="../images/τροφημα/φρεσκο_κρεας_ψαρι.jpg" alt="Φρεσκο Κρεας Ψαρι"> -->
                </div>
                <div class="categories" id="tupopoihmenaTrofhma">
                    <h2><a href="/tupopoihmena-trofhma">Τυποποιημένα Τρόφημα</a></h2>
                    <!-- <img src="../images/τροφημα/φρεσκο_κρεας_ψαρι.jpg" alt="Φρεσκο Κρεας Ψαρι"> -->
                </div>
                <div class="categories" id="prwinoRofhmata">
                    <h2><a href="/prwino-kai-rofhmata">Πρωινό Ροφήματα</a></h2>
                    <!-- <img src="../images/τροφημα/φρεσκο_κρεας_ψαρι.jpg" alt="Φρεσκο Κρεας Ψαρι"> -->
                </div>
                <div class="categories" id="proiontaArtou">
                    <h2><a href="/proionta-artou">Προιόντα Άρτου</a></h2>
                    <!-- <img src="../images/τροφημα/φρεσκο_κρεας_ψαρι.jpg" alt="Φρεσκο Κρεας Ψαρι"> -->
                </div>
                <div class="categories" id="diatrofh">
                    <h2><a href="/diatrofh">Διατροφή</a></h2>
                    <!-- <img src="../images/τροφημα/φρεσκο_κρεας_ψαρι.jpg" alt="Φρεσκο Κρεας Ψαρι"> -->
                </div>
                <div class="categories" id="snaks">
                    <h2><a href="/snacks">Σνακς</a></h2>
                    <!-- <img src="../images/τροφημα/φρεσκο_κρεας_ψαρι.jpg" alt="Φρεσκο Κρεας Ψαρι"> -->
                </div>
                <div class="categories" id="drinks">
                    <h2><a href="/kava">Κάβα</a></h2>
                    <p><a href="/kava/krasia">Κρασιά</a></p>
                    <p><a href="/kava/pota">Ποτά</a></p>
                    <p><a href="/kava/anapsyktika">Αναψυκτικά</a></p>
                    <!-- <img src="../images/drinks.jpg" alt="food image"> -->
                </div>
                <div class="categories" id="personalCare">
                    <h2><a href="/proswpikh-frontida">Προσωπική Φροντιδα</a></h2>
                    <p><a href="/proswpikh-frontida/gia-andres">Για άνδρες</a></p>
                    <p><a href="/proswpikh-frontida/gia-gunaikes">Για γυναίκες</a></p>
                    <p><a href="/proswpikh-frontida/stomatikh-ugieinh">Στοματική υγιεινή</a></p>
                    <!-- <img src="../images/personalCare.jpg" alt="food image"> -->
                </div>
                <div class="categories" id="babyCare">
                    <h2><a href="/vrefikh-frontida">Βρεφική Φροντίδα</a></h2>
                    <p><a href="/vrefikh-frontida/vrefiko-gala">Βρεφικό Γάλα</a></p>
                    <p><a href="/vrefikh-frontida/vrefikes-trofes">Βρεφικές Τροφές</a></p>
                    <p><a href="/vrefikh-frontida/vrefikes-panes-mwromanthla">Βρεφικές Πάνες Μωρομάντηλα</a></p>
                    <!-- <img src="../images/babyCare.jpg" alt="food image"> -->
                </div>
                <div class="categories" id="pets">
                    <h2><a href="/katoikidia">Κατοικίδια</a></h2>
                    <p><a href="/katoikidia/eidh-gia-skyloys">Είδη για Σκύλους</a></p>
                    <p><a href="/katoikidia/eidh-gia-gates">Είδη για Γάτες</a></p>
                    <!-- <img src="../images/petCare.jpg" alt="food image"> -->
                </div>
                <div class="categories" id="home">
                    <h2><a href="/katharistika-xartika-eidh-oikiakhs">Καθαριστικά Χαρτικά είδη Οικιακής</a></h2>
                    <p><a href="/katharistika-xartika-eidh-oikiakhs/kathariothta-spitiou">Καθαριότητα Σπιτιού</a></p>
                    <p><a href="/katharistika-xartika-eidh-oikiakhs/aporrupantika-piatwn">Απορρυπαντικά Πιάτων</a></p>
                    <p><a href="/katharistika-xartika-eidh-oikiakhs/plusimo-rouxwn">Πλύσιμο Ρούχων</a></p>
                    <!-- <img src="../images/home.jpg" alt="food image"> -->
                </div>
            </div> 
        </section>
    </main>
    <hr>
    <div id="findStore">
        <a href="/stores">Βρές ένα κατάστημα κοντά σου</a>
    </div>
    <%- include("includes/footer.ejs") %>

    <script src="/js/sideNavBar.js"></script>
    <script src="/js/logout.js"></script>
</body>
</html>