<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/jobSearch.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/sideNavBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <%- include("includes/sideNavBar.ejs") %>
    <%- include("includes/searchNavBar.ejs") %>
    <main>
        <h1>Αναζήτησε μια θέση εργασίας</h1>
        <div id="imageWrapper">
            <img src="../images/employee.svg" alt="send email">
        </div>
        <div id="filterOrderByWrapper">
            <div id="filter">Φίλτρα</div>
            <div id="orderBy">Ταξινόμηση</div>
        </div>
    </main>
    <%- include("includes/footer.ejs") %>
    
    <script src="/js/sideNavBar.js"></script>
</body>
</html>