<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="logoWrapper">
            <a href="/">mygrocery</a>
            <svg id="Icons" height="30" viewBox="0 0 512 512" width="30" xmlns="http://www.w3.org/2000/svg"><circle cx="256" cy="256" fill="#f1f1f1" r="256"/><path d="m511.69 268.82c-6.69 135.43-118.61 243.18-255.69 243.18-135.19 0-245.91-104.8-255.34-237.58 17.36-17.11 27-42.78 47.86-56 22.4-14.23 55.17-8.69 71.65 12.1 11.2 14.12 15 33.21 27 46.64 13.32 14.88 36.35 20.09 54.78 12.39 7.31-3.05 14-7.93 21.81-9.23 11.81-2 23.54 4.61 35.5 4 14.57-.7 26.48-11.74 35.41-23.28s16.7-24.58 29-32.5c21.18-13.68 50.47-7.73 70.62 7.42 14.89 11.18 27 27.14 44.72 32.78 23.17 7.43 49.46-5.13 72.68.08z" fill="#f1f1f1"/><path d="m183.6 407.88a25.16 25.16 0 0 1 -47.54 11.51 24.9 24.9 0 0 1 -2.79-11.51 25.17 25.17 0 0 1 25.16-25.16 25.18 25.18 0 0 1 25.17 25.16z" fill="#334353"/><path d="m172.73 397a25.17 25.17 0 0 1 -25.17 25.17 24.89 24.89 0 0 1 -11.5-2.79 24.9 24.9 0 0 1 -2.79-11.51 25.17 25.17 0 0 1 25.16-25.16 24.9 24.9 0 0 1 11.51 2.79 24.86 24.86 0 0 1 2.79 11.5z" fill="#3e4e60"/><path d="m167.22 414.91a10.53 10.53 0 0 1 -7.42 3.09 10.46 10.46 0 0 1 -7.42-3.07l-32.19-32.19h38.24l10.62 19.81a10.51 10.51 0 0 1 -1.83 12.36z" fill="#c2aacf"/><path d="m164.16 417a10.35 10.35 0 0 1 -4.36 1 10.46 10.46 0 0 1 -7.42-3.07l-27-27h27.88l10.62 19.81a10.48 10.48 0 0 1 .28 9.26z" fill="#decee5"/><path d="m325.53 407.88a25.16 25.16 0 0 1 -47.53 11.51 24.9 24.9 0 0 1 -2.79-11.51 25.17 25.17 0 0 1 25.16-25.16 25.18 25.18 0 0 1 25.17 25.16z" fill="#334353"/><path d="m314.66 397a25.17 25.17 0 0 1 -25.17 25.17 24.89 24.89 0 0 1 -11.5-2.79 24.9 24.9 0 0 1 -2.79-11.51 25.17 25.17 0 0 1 25.16-25.16 24.9 24.9 0 0 1 11.51 2.79 24.86 24.86 0 0 1 2.79 11.5z" fill="#3e4e60"/><path d="m309.15 414.91a10.53 10.53 0 0 1 -7.42 3.07 10.46 10.46 0 0 1 -7.42-3.07l-32.19-32.19h38.24l10.64 19.81a10.51 10.51 0 0 1 -1.85 12.38z" fill="#c2aacf"/><path d="m306.09 417a10.35 10.35 0 0 1 -4.36 1 10.46 10.46 0 0 1 -7.42-3.07l-27-27h27.88l10.62 19.81a10.48 10.48 0 0 1 .28 9.26z" fill="#decee5"/><path d="m122.6 165.65a37 37 0 0 0 -37 37v87a36.82 36.82 0 0 0 6.31 20.65 37 37 0 0 0 30.65 16.31h221.22l43.11-160.89zm-12 123.92v-31h38.12v43h-26.12a12 12 0 0 1 -11.83-10.14 12.32 12.32 0 0 1 -.14-1.86zm63.12-31h40.12v43h-40.09zm65.12 0h40.16v43h-40.13zm65.11 43v-43h32.13l-11.51 43zm38.82-68h-38.77v-42.92h50.33zm-63.82 0h-40.08v-42.92h40.13zm-65.11 0h-40.09v-42.92h40.12zm-65.12 0h-38.09v-31a12 12 0 0 1 12-12h26.15z" fill="#c2aacf"/><path d="m122.6 165.65a37 37 0 0 0 -37 37v87a36.82 36.82 0 0 0 6.31 20.65 36.79 36.79 0 0 0 20.65 6.31h221.22l40.43-150.89zm-22 135.89v-53h48.12v53h-48.09zm0-68v-41a12 12 0 0 1 12-12h36.15v52.94h-48.12zm113.24 25v43h-50.09v-53h50.12zm0-67.94v42.94h-50.09v-52.89h50.12zm65.16 67.99v43h-50.13v-53h50.13zm0-67.94v42.94h-50.13v-52.94h50.13zm57.13 67.94-11.51 43h-30.62v-53h44.81zm-42.13-25v-52.94h63l-2.68 10-11.52 42.94z" fill="#decee5"/><g fill="#f4e6f4"><ellipse cx="163.41" cy="173.15" rx="36.63" ry="7.5"/><ellipse cx="183.41" cy="238.79" rx="25.4" ry="5.2"/><ellipse cx="203.41" cy="306.74" rx="25.4" ry="5.2"/><ellipse cx="237.99" cy="173.15" rx="24.13" ry="4.94"/></g><path d="m468.56 141.66a12.5 12.5 0 0 1 -12.5 12.5h-55.69a13.57 13.57 0 0 0 -13.09 10.05l-51.21 191.11a37 37 0 0 1 -35.71 27.4h-194.59a12.49 12.49 0 0 1 -12.29-10.21 12.35 12.35 0 0 1 -.21-2.29 12.5 12.5 0 0 1 12.5-12.5h194.59a12 12 0 0 0 11.56-8.87l51.21-191.11a38.61 38.61 0 0 1 37.24-28.58h55.69a12.35 12.35 0 0 1 2.29.21 12.51 12.51 0 0 1 10.21 12.29z" fill="#c2aacf"/><path d="m458.56 131.66a12.5 12.5 0 0 1 -12.5 12.5h-55.69a13.57 13.57 0 0 0 -13.09 10.05l-51.21 191.11a37 37 0 0 1 -35.71 27.4h-194.59a12.35 12.35 0 0 1 -2.29-.21 12.35 12.35 0 0 1 -.21-2.29 12.5 12.5 0 0 1 12.5-12.5h194.59a12 12 0 0 0 11.56-8.87l51.21-191.11a38.61 38.61 0 0 1 37.24-28.58h55.69a12.35 12.35 0 0 1 2.29.21 12.35 12.35 0 0 1 .21 2.29z" fill="#decee5"/><ellipse cx="131.16" cy="365.22" fill="#f4e6f4" rx="28.4" ry="5.82"/><ellipse cx="188.99" cy="365.22" fill="#f4e6f4" rx="18.71" ry="3.83"/><path d="m459.17 132.52v16.93a11.25 11.25 0 0 1 -11.25 11.25h-39.56a11.26 11.26 0 0 1 -11.26-11.25v-16.93a11.26 11.26 0 0 1 11.26-11.26h39.56a11.26 11.26 0 0 1 11.25 11.26z" fill="#334353"/><path d="m459.17 132.52v4.26a11.26 11.26 0 0 1 -11.25 11.22h-39.56a11.26 11.26 0 0 1 -11.26-11.26v-4.26a11.26 11.26 0 0 1 11.26-11.26h39.56a11.26 11.26 0 0 1 11.25 11.3z" fill="#3e4e60"/><ellipse cx="418.41" cy="130.06" fill="#3f6c8e" rx="13.66" ry="5.23"/><ellipse cx="444.18" cy="130.06" fill="#3f6c8e" rx="9.69" ry="3.71"/></svg>
        </div>
    </header>
    <main>
        <div id="flexWrapper">
            <div id="mainWrapper">
                <h1>Σύνδεση</h1>
                <form action="/login">
                    <div class="inputWrapper"><input type="email" id="email" placeholder="Email"></div>
                    <div class="inputWrapper"><input type="password" id="password" placeholder="Κωδικός"></div>
                    <div class="inputWrapper"><a href="#">Υπενθύμιση κωδικού</a></div>
                    <div class="inputWrapper"><input type="submit" value="Σύνδεση"></div>
                    <div class="inputWrapper">Δεν έχεις λογαριασμό; <a href="signup">Δημιούργησε</a></div>
                </form>
            </div> 
        </div> 
    </main>
    <%- include("includes/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>