@import url("./reset.css");

body {
    background-color: #f1f1f1;
}

main {
    min-height: 62vh;
}

header {
    width: 90%;
    margin: 1rem auto;
}

nav {
    height: 50px;
    display: flex;
}

#burgerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar {
    width: 20px;
    height: 2px;
    background-color: black;
    margin-bottom: 3px
}

#logoWrapper {
    margin-left: 2rem;
}

#logoWrapper a {
    text-decoration: none;
    font-size: 2rem;
    color: #b95f89;
}

.user {
    position: relative;
    align-self: center;
    margin-left: auto;
    display: flex;
}

.user a {
    margin-right: 7px;
    text-decoration: none;
    color: black;
}

.user span svg {
    width: 15px;
    align-self: center;
}

#profileModal {
    position: absolute;
    right: 0;
    display: none;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
    top: 150%;
    padding: 20px;
}

#profileModal div {
    padding-bottom: 20px;
}

form {
    margin-top: 1rem;
}

form input {
    width: 100%;
    height: 2rem;
    border: 1px solid #b95f89;
}

main {
    width: 90%;
    margin: 0 auto;
}

main h1 {
    margin: 2rem 0;
    font-size: 1.5rem;
}

#gridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px
}

.gridChilds {
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.subTitlesWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    overflow: scroll;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    transition: height 0.5s ease-in;
}

.expand {
    height: 100%;
}

.subTitlesWrapper > p {
    padding: 10px;
}

.subTitlesWrapper > p a {
    text-decoration: none;
    color: black;
}

.imgWrapper {
    height: 150px;
}

img {
    width: 100%;
    height: 100%;
}

main h2 {
    font-size: 1rem;
    margin: 2rem 0;
}

main h2 a {
    text-decoration: none;
    color: black;
}

#storesFlexWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}

.stores {
    border: 1px solid gray;
    box-sizing: content-box;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stores a {
    text-decoration: none;
}