@import url("./reset.css");

body {
    background-color: #f1f1f1;
}

header {
    width: 90%;
    margin: 1rem auto;
}

nav {
    height: 50px;
    display: flex;
}

#burgerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar {
    width: 20px;
    height: 2px;
    background-color: black;
    margin-bottom: 3px
}

#logoWrapper {
    margin-left: 2rem;
}

#logoWrapper a {
    text-decoration: none;
    font-size: 2rem;
    color: #b95f89;
}

form {
    margin-top: 1rem;
}

form input {
    width: 100%;
    height: 2rem;
}

main {
    width: 90%;
    margin: 0 auto;
}

main h1 {
    margin: 2rem 0;
    font-size: 1.5rem;
}

#imageWrapper {
    width: 5rem;
    margin: 3rem auto;
}

#communication {
    margin-bottom: 2rem;
}

#communication div {
    width: 100%;
    margin: 1.3rem 0;
}

#communication div input{
    padding: 0;
    height: 2.5rem;
}

#communication div textarea {
    width: 100%;
}

#communication div input[type="submit"] {
    background-color: white;
}