footer {
    background-color: white;
}

#footerFlexWrapper {
    width: 90%;
    margin: 2rem auto 0 auto;
    display: flex;
}

#footerSocialWrapper {
    width: 50%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

#footerSocialWrapper h2 {
    display: inline;
    font-size: 1.5rem;
    color: #b95f89;
}

#footerSocialWrapper a {
    padding: 0;
}

#footerSocialWrapper i {
    margin-top: 1rem;
}

.fa-facebook {
    margin-right: 1rem;
}

#rightDiv {
    width: 50%;
    margin-top: 1rem;
}

#rightDiv div {
    padding-bottom: 20px;
    text-align: right;
}

#rightDiv div a {
    text-decoration: none;
    color: black;
}

#nameFlexContainerFooter {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}

#nameFlexContainerFooter h2 {
    padding: 2px;
    color: #b95f89;
    font-size: 2.5rem;
}

.fa-shopping-cart {
    
}