@import url("./reset.css");

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

header {
    width: 90%;
    margin: 0 auto;
}

nav {
    /* background-color: cadetblue; */
    height: 50px;
    /* width: 80%;
    margin: 0 auto; */
    display: flex;
    justify-content: space-between;
}

#burgerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar {
    width: 20px;
    height: 2px;
    background-color: black;
    margin-bottom: 3px
}

.user {
    display: flex;
}

.user a {
    text-decoration: none;
    padding: 3px 9px;
    align-self: center;
    color: #4D4D4D;
}

h1 {
    font-size: 1.2rem;
    line-height: 30px;
    margin: 2rem 0;
}

#nameFlexContainer {
    display: flex;
    justify-content: center;
    margin: 2.1rem 0;
}

#nameFlexContainer h2 {
    padding: 2px;
    color: #317773;
    color: #b95f89;
    font-size: 2.5rem;
}

svg {
    align-self: center;
}

form input {
    width: 100%;
    height: 40px;
    /* border: 1px solid #b95f89; */
}

main {
    width: 90%;
    margin: 0 auto;
}

#discount {
    margin: 2rem 0;
    background-color: #dcdada;
    text-align: center;
    padding: 1.5rem;
}

#discount a {
    text-decoration: none;
    color: black;
}

.categories {
    border: 0.1px solid #dddddd;
    background-color: white;
    box-shadow: 5px 5px 5px #adadad;
    border-radius: 10px;
    margin: 20px 0;
    height: 200px;
}

.categories h2 {
    padding: 10px;
    margin: 1.2rem 0;
}

.categories p {
    padding: 5px 10px;
    margin: 1.2rem 0;
}

.categories h2 a {
    text-decoration: none;
    color: white;
}

.categories p a {
    text-decoration: none;
    color: white;
}

.categories img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#freskoKreasPsari {
    background-color: rgb(107, 206, 187);
}

#opwropwleio {
    background-color: rgb(163, 206, 113);
}

#galaktokomikaEidhPsugeiou {
    background-color: rgb(50, 127, 182);
}

#turiaAllantikaDelicatessen {
    background-color: rgb(251, 134, 54);
}

#tupopoihmenaTrofhma {
    background-color: rgb(148, 135, 77);
}

#prwinoRofhmata {
    background-color: rgb(253, 125, 145);
}

#proiontaArtou {
    background-color: rgb(32, 195, 243);
}

#snaks {
    background-color: rgb(236, 126, 189);
}

#diatrofh {
    background-color: rgb(225, 195, 64);
}

#drinks {
    background-color: rgb(188, 165, 128);
}

#personalCare {
    background-color: rgb(111, 105, 173);
}

#babyCare {
    background-color: rgb(162, 162, 162);
}

#pets {
    background-color: rgb(221, 108, 117);
}

#home {
    background-color: rgb(6, 170, 113);
}

hr {
    margin-top: 3rem;
}

#findStore {
    text-align: center;
    padding: 1.5rem;
    background-color: #dcdada;
    margin: 3rem 0;
}

#findStore i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#findStore a {
    text-decoration: none;
    color: black;
}

/* Carousel styling */

.glider-contain {
    margin-top: 2rem;
    padding: 0;
}

.glider-slide {
    margin-right: 1rem;
    height: 150px !important;
    display: flex;
    align-items: center;
}

.categoriesLink {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.categoriesContainer {
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headlineContainer {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.headline {
    color: white;
    text-align: center;
}

.iconContainer {
    text-align: center;
}

i {
    color: black;
}

/* Latest offers */

#latestProductsContainer h3 {
    width: 90%;
    margin: 2.5rem auto;
}

.productWrapper {
    width: 90%;
    background-color: white;
    border-radius: 8px;
    margin: 2.5rem auto;
    position: relative;
}

.productWrapper h1 {
    margin: 10px 0;
    font-weight: bold;
    padding: 10px;
    font-size: 1rem;
}

.productWrapper img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 3rem auto;
}

.productWrapper p {
    /* margin: 5px 0; */
    padding: 10px;
}

.active {
    color: #b95f89;
    border-bottom: 1px solid #b95f89;
}

.store {
    padding: 10px;
}

.discountPercentage {
    background-color: #b95f89;
    color: white;
    width: 20%;
    position: absolute;
    font-size: 1.3rem;
    text-align: center;
    top: -10px;
    right: 0;
    padding: 0.6rem;
    overflow: scroll;
}

#latestProductsContainer h2 {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.priceWrapper {
    padding: 10px;
}

.textPrice {
    color: gray;
}

.startPrice {
    text-decoration: line-through;
}

.discountPrice {
    color: rgb(251, 56, 56);
}

.storeLink {
    padding: 10px;
}

.storeLink  a {
    text-decoration: none;
    color: gray;
}