@import url("./reset.css");

body {
    background-color: #f1f1f1;
}

#alert {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    height: 2rem;
    background-color: rgb(253, 97, 97);
    color: white;
    border-radius: 3px;
    font-size: 0.8rem;
}

header {
    height: 50px;
}

#logoWrapper {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

#logoWrapper a {
    text-decoration: none;
    color: #b95f89;
    font-size: 2rem;
}

#flexWrapper {
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#mainWrapper {
    width: 100%;
}

h1 {
    font-size: 1.8rem;
}

.inputWrapper{
    margin: 2rem 0;
    width: 100%;
}

.inputWrapper input[type="submit"] {
    border: 1px solid #b95f89;
    background-color: #b95f89;
    color: white;
}

.inputWrapper a {
    text-decoration: none;
    color: #4D4D4D;
}

form input {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    padding: 0;
}