@import url("./reset.css");

body {
    background-color: #f1f1f1;
}

header {
    width: 90%;
    margin: 0 auto;
}

nav {
    height: 50px;
    display: flex;
}

.bar-container {
    cursor: pointer;
    align-self: center;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

#logoWrapper {
    margin-left: 2rem;
}

#logoWrapper a {
    text-decoration: none;
    font-size: 2rem;
    color: #b95f89;
}

form {
    margin-top: 1rem;
}

form input {
    width: 100%;
    height: 2rem;
    border: 1px solid #b95f89;
}

main {
    width: 90%;
    margin: 0 auto;
}

main h1 {
    margin: 2rem 0;
    font-size: 1.5rem;
}

main h2 {
    font-size: 1.3rem;
    margin: 2rem 0;
}

#storesFlexWrapper {
    display: flex;
    flex-direction: column;
}

.stores {
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: content-box;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: white;
}

.stores a {
    text-decoration: none;
}