@import url("./reset.css");

body {
    background-color: #f1f1f1;
}

.stopScrolling {
    height: 100%;
    overflow-y: hidden;
}

header {
    width: 90%;
    margin: 1rem auto;
}

nav {
    height: 50px;
    display: flex;
}

#burgerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar {
    width: 20px;
    height: 2px;
    background-color: black;
    margin-bottom: 3px
}

#logoWrapper {
    margin-left: 2rem;
}

#logoWrapper a {
    text-decoration: none;
    font-size: 2rem;
    color: #b95f89;
}

.user {
    position: relative;
    align-self: center;
    margin-left: auto;
    display: flex;
}

.user a {
    margin-right: 7px;
    text-decoration: none;
    color: black;
}

.user span svg {
    width: 15px;
    align-self: center;
}

#profileModal {
    position: absolute;
    right: 0;
    display: none;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
    top: 150%;
    padding: 20px;
}

#profileModal div {
    padding: 20px;
}

#searchForm {
    margin-top: 1rem;
}

#searchForm input {
    width: 100%;
    height: 2rem;
}

#mainContainer {
    width: 90%;
    margin: 2rem auto 0 auto;
}

#mainContainer h1 {
    font-size: 1.5rem;
    margin: 2rem 0;
}

#mainContainer p {
    padding-bottom: 1rem;
}

#button {
    margin-left: 0.5rem;
    border: none;
    color: white;
    background-color: #b95f89;
    padding: 0.5rem;
}

#mapContainer {
    width: 100%;
    height: 70vh;
}

#map {
    width: 100%;
    height: 100%;
}

#marker {
    background-image: url('/images/pin.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}